{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Company Member List | Trello Task Manager</title>
{% endblock title %}

{% block statics %}
  <script src="{% static 'js/task-handler.js' %}"></script>
{% endblock statics %}

{% block content %}
  <main>
    <div class="workspace-navbar">
      <div class="workspace-navbar-div">
        <a href="{% url 'company:company-profile' pk=company.id %}" class="company-info-anchor">
          <img src="{{company.company_logo.url }}" alt="company logo" class="company_logo company-info-anchor-logo"/>
          <span class="comapany-name">{{company.name}}</span>
        </a>
      </div>
      <div class="workspace-navbar-div">
        <div class="company-members" title="company members">
          {% for member in members %}
            <a href="{% url 'account:user-profile' pk=member.id %}">
              <img src="{{member.profile_picture.url}}" alt="company member" class="company_logo"/>
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="workspace-navbar-div send-right-end">
        <div class="workspace-navbar-settings-div">
          <div class="workspace-navbar-settings-element">
            <i class="fa-solid fa-pen-to-square"></i>
            <a href="{% url 'task:create-task' c_id=company.id %}">
              <p>Create Task</p>
            </a>
          </div>
          <div class="workspace-navbar-settings-element">
            <i class="fa-solid fa-user-plus"></i>
            <a href="{% url 'company:show-users-list' company_id=company.id %}">
              <p>Add Member</p>
            </a>
          </div>
          <div class="workspace-navbar-settings-element">
            <a href="{% url 'company:company-settings' pk=company.id %}">
              <i class="fa-solid fa-gear"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="workspace-table-section-list-cards-container">
      <div class="list-card-container">

        {% for task in task_list %}
          <div class="list-card">
            <div class="list-card-main-div" onclick="getTaskModalById('{{task.id}}')">
              <div class="list-card-info-div">
                <div class="list-card-info-name-div">
                  <p>{{task.title}}</p>
                </div>
                <div class="list-card-info-name-div">
                  <p>{{task.drescription}}</p>
                </div>
              </div>
              <div class="list-card-stats-div">
                <p>Fin.Exp{{task.finishing_expected}}</p>
              </div>
            </div>
            {% if request.user == company.creator %}
              <div class="list-card-side-div showing-icon">
                <a href="{% url 'task:delete-task' id=task.id %}">
                  <i class="fa-solid fa-trash-can"></i>
                </a>
              </div>
            {% endif %}
          </div>
        {% empty %}
          <div class="list-card">
            <div class="list-card-main-div">
              <div class="list-card-info-div">
                <div class="list-card-info-name-div">
                  <p>No Task Here</p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>


    </div>

    <div class="task-modal hide-task-modal">
      <div class="task-modal-navbar unstarted-task">
        <p class="task-modal-title" >Task Title</p>
        <button type="button" class="task-modal-navbar-close-button unstarted-task-for-button">
          <i class="fa-solid fa-xmark"></i>
        </button>

      </div>
      <div class="task-modal-main">
        <div class="task-modal-main-section">
          <details>
            <summary>Task Description</summary>
            <p class="task-drescription-text">
              ultiple complaints that we received under the US Digital Millennium Copyright Act,
              we have removed 2 results from this page.
              If you wish, you may read the DMCA complaints that caused the removals at LumenDataba
              ultiple complaints that we received under the US Digital Millennium Copyright Act,

            </p>
          </details>

          <div class="priority">
            <p> Priority : <span class="priority_text">Medium</span></p>
          </div>

          <div class="checklist">
            <p>Checklist:</p>
            <div class="checklist-list">
              <!-- <p class="checklist-list-count">1.</p> -->
              <P class="checklist_text">we have removed 2 results from this page.</P>
            </div>
            <!-- <div class="checklist-list">
              <p class="checklist-list-count">2.</p>
              <P>
                ultiple complaints that US Digital Millennium Copyright Act
                ultiple complaints that we received under the US Digital Millennium Copyright Act,
                we have removed 2 results from this page.
                If you wish, you may read the DMCA complaints that caused the removals at LumenDataba
              </P>
            </div> -->
          </div>

        </div>

        <div class="task-modal-main-sidebar">

          <div class="task-modal-company-logo-div">
            <a href="#" class="company-anchor">
              <img src="person-2.jpg" alt="" class="company_logo" />
              <p class="company-name">Weave Communications</p>
            </a>
          </div>

          <div class="task-modal-task-stats-div">
            <p class="task-stats-div-title">Status :</p>
            <p class="task-stats-div-info status-text">Unassigned</p>

            <p class="task-stats-div-title">Finishing Expected :</p>
            <p class="task-stats-div-info finishing-expected">10/31/23 5:34PM</p>

            <p class="task-stats-div-title">Date Created :</p>
            <p class="task-stats-div-info date-created">10/31/23 5:34PM</p>
            <p class="task-stats-div-title">Finishing Date :</p>
            <p class="task-stats-div-info finishing-date">Unfinished</p>
          </div>

          <div class="task-modal-task-assignee-div">
            <p class="assignee-div-title">Assignee :</p>
            <a href="#">
              <img src="person-3.jpg" alt="" class="company_logo" />
              <p>Gabriel Gunderson</p>
            </a>
            <a href="#">
              <img src="person-4.jpg" alt="" class="company_logo" />
              <p>Stephanie Zollowkowsky</p>
            </a>
            <a href="#">
              <img src="person-5.jpg" alt="" class="company_logo" />
              <p>Ichabod Chrane</p>
            </a>
            <a href="#">
              <img src="person-16.jpg" alt="" class="company_logo" />
              <p>Weave Communications</p>
            </a>
          </div>

          <div class="task-modal-button-div">
            {% if request.user == company.creator %}
            <button type="button" class="task-modal-button"><a href="" class="task-edit-button">Edit</a></button>
            <button type="button" class="task-modal-button"><a href="" class="task-delete-button">Delete Task</a></button>
            {% else %}
              <button type="button" class="task-modal-button"><a href="" class="task-edit-button">Edit Task</a></button>
            {% endif %}
          </div>

        </div>
      </div>
    </div>


  </main>
{% endblock content %}


